# Env variables file for local running
/.env

# Virtual environments
/venv/

# Generated Python cache files
__pycache__/
*.pyc
*.py#

# Generated system files (from archives, etc)
.DS_Store
opt/
media

# Editor configs
/.vscode

scratchpad.py
/.eggs/
/simon.egg-info/
/build/
/dist/
/simon_search.egg-info/
