.jot {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.main {
    flex-grow: 1;
    max-width: 70%;
}

.rightbar {
    flex-shrink: 1;
    min-width: 30%;
}

.rightbar > span {
    float: right;
    margin-right: 15px;
}

.editor-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    @apply text-gray-700;
}

.editor-title {
    outline: none;
    padding: 0px 15px;
    font-weight: 600;
    font-size: 24px;
}

.editor-text {
    min-height: 99%;
}

.ql-editor {
    font-size: 15px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
}

.chunk {
    position: absolute;
    transform: translateY(90px);
}

.session {
    position: absolute;
    bottom: 13px;
    right: 10px;
    font-size: 6px;
    word-wrap: break-word;
}

