#jot {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    min-height: 100%;
}

#main {
    flex-grow: 1;
    max-width: 75%;
}

#rightbar {
    flex-shrink: 1;
    min-width: 15%;
}

#rightbar > span {
    float: right;
    margin-right: 15px;
}
