
.simon-brainstorm {
    font-size: 12px;
    @apply pl-3 pr-3 text-gray-500;
}

.simon-brainstorm-question-list {
    /* list-style: inside; */
}


.simon-brainstorm-question {
    margin-bottom: 4px;
    cursor: pointer;
    transition: color 0.3s;
    /* list-style: inside; */
}

.simon-brainstorm-question:hover {
    margin-bottom: 4px;
    cursor: pointer;
    transition: color 0.3s;
    @apply text-gray-400;
    /* list-style: inside; */
}
